@charset "UTF-8";
/* CSS Document */

.front{
	background-color: cadetblue;
	hight:300px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	
}

.main{
	text-align: center;
	hight:500px;
	padding-top:40px;
}

.btn{
	border:4px;
	background-color: lightpink;
	font-size: 16px;
}